h1 {
  text-align: center;
  color: darkslategrey;
  font-size: 60px;
  text-shadow: 4px 3px 6px rgba(56, 99, 172, 0.6);
}

body {
  background-color: beige;
}



.conte{
  border: 4px solid #c6b9e5;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
}
.caja{
  height: 50px;
  width: 50px;
  margin: 20px;
  
 

}
.uno{background-color: #aea8ba;
height: 25px;
width: 5%;
text-align: center;}
.dos{background-color: #aea8ba;
height: 25px;
width: 5%;
text-align: center;}
.tres{background-color: #aea8ba;
height: 25px;
width: 5%;
text-align: center;}
.cuatro{background-color: #aea8ba;
height: 25px;
width: 5%;
text-align: center;}

h2 {
  font-size: 40px;
  color: #18093a;
  text-align: center;
}
H3 {
  color: #007f9b;
  text-align: center;
}
.contenedor {
  display: flex;
  justify-content: center;
}
.caje{
  background-color: #aea8ba;
  width: 60%;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  H2{
    font-size: 40px;
  color: #043441;
  text-align: center;
  }
}
.contenedor :hover {
  transform: scale(1.2);
  transition: 1s all ease-in-out;
}
p {
  text-align: center;
  color:#c6b9e5
  font-size: 30px;
}
section {
  padding: 40px;
}


.cards {
  display: flex;
  gap: 20px;
  justify-content: center;
  H2{

  }
}
.nos p{
  background-color: darkgray;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 20px;
  width: 250px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}
.valen {
    background: #ffe0f0;
   
 
}

.milton {
    background: #e0f7ff;
}
img{
  width: 77px;
justify-content: center;
align-items: center;
}



footer {
    text-align: center;
    padding: 20px;
    background: #eee;
}