* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  background-color: #6bb1f1;
}

h1 {
  font-size: 32px;
  font-weight: lighter;
  color: rgb(2, 38, 71);
  letter-spacing: 10px;
  text-align: center;
  text-decoration: underline;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
h6 {
  font-size: 32px;
}
section {
  background-color: rgb(35, 48, 105);
  width: 50%;
  height: 400px;
  margin: 0px auto;
  border-radius: 100px;
  box-shadow: -6px 10px 211px 20px rgba(22, 95, 181, 0.99);
  -webkit-box-shadow: -6px 10px 211px 20px rgba(22, 95, 181, 0.99);
  -moz-box-shadow: -6px 10px 211px 20px rgba(22, 95, 181, 0.99);
  border: 10px solid rgb(29, 73, 102);
  color: white;
  padding: 30px;
  transition: 1s all ease-in-out;
}
section:hover {
  transform: scale(1.2);
  transition: 1s all ease-in-out;
}
